* {
    font-family: Arial, Helvetica, sans-serif;  
}

body{
    margin:auto;
    padding :1em;
}

input, button{
    padding: 12px 10px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    width:100%;
}

input{
    display:block;
}

.time{
    font-weight:bold;
}

.entry{
    margin-bottom:1em;
}

#log{
    padding-top:1em;
}

@media only screen and (min-width: 600px) {
  body {
    max-width:30em;
    max-width:30em;
  }
  input{
    display:inline;
    width:70%;
  }
  button{
      width: 28%;
  }

}